* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --topBg: #009688;
    --bottomBg: #dbdbd2;
    --bgHeader: #eaeaea;
    --bgTextBar: #eaeaea;
    --iconsColor: #b1b1b1;
    --bgNotificationBar: #8edafc;
    --bgSentMsg: #d5f9ba;
    --bgReceivedMsg: #ffffff;
    --darkIcon: #6f6d6d;

}

.bg-top {
    height: 120px;
    background-color: var(--topBg);
}
.bg-bottom {
    height: calc(100vh - 120px);
    background-color: var(--bottomBg);
}

#app {
    height: 100vh;
    background-color: #ffffff;    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    height: 100vh;
    width: 100%;
    
}

.small-fs {
    font-size: .8rem;
}

.lastMessageColor {
    color: #bbc1cf;
}

.lastSentColor {
   color: var(--iconsColor); 
}



/* ASIDE BAR  */

.side-bar {
    height: 100vh;
}

.info-account {
    height: 50px;
    background-color: var(--bgTextBar);
    padding: .3rem 1rem;
}

.img-container {
    height: 100%;
    
}

img {
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem;
}

.icon-container a {
    color: var(--iconsColor);
}

.notification {
    height: 60px;
    background-color: var(--bgNotificationBar);
    padding: .3rem 1rem;
    
}

.notification img {
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem;
    filter: invert(100%) sepia(5%) saturate(18%) hue-rotate(128deg) brightness(105%) contrast(105%);
}

.input-group {
    height: 40px;
}

.input-group i {
    color: var(--iconsColor);
}


.chats-box {
    
    overflow-y: scroll;
    height: calc(100% - 150px);
}

.chat-box {
    height: 60px;
    cursor: pointer;
    padding: .3rem 1rem;
}

.chat-box:hover {
    background-color: var(--bgHeader) ;
}

.active {
    background-color: var(--bgHeader);
}

.overflow {
    overflow: hidden;
    max-height: 45px;
}

/* MAIN */

main {
    height: 100vh;
    
}

button {
    background-color: transparent;
}

.currentChat {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: 20px;
}


.sentMessage {
    background-color: var(--bgSentMsg);
    border-radius: 10px;
    max-width: 500px;
    

}

.receivedMessage {
    background-color: var(--bgReceivedMsg);
    border-radius: 10px;
    max-width: 500px;
    
}

.darkIconColor a{
    color: var(--darkIcon);
}

.time {
    font-size: 0.6rem;

}

.chat-info {
   overflow: hidden;
   
}

@media screen and (min-width: 575px) {
    #app {
        height: 90vh;
    }

    .side-bar {
        height: 90vh;
    }

    main {
        height: 90vh;
    }
}